<div>
    <p>Witaj {{ userName }},</p>
    <p>Zarejestrowałeś się w naszym serwisie.Teraz aktywuj konto aby móc korzystać z serwisu w pełni.</p>
    <p>Oto twój kod aktywacyjny konto: {{ code }} .</p>
</div>