<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
        body {
            width: 230mm;
            height: 100%;
            margin: 0 auto;
            padding: 0;
            font-size: 12pt;
            background: rgb(230,230,230);
        }
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .main-page {
            width: 210mm;
            min-height: 297mm;
            height: 100%;
            margin: 10mm auto;
            background: white;
            box-shadow: 0 0 0.3cm rgba(0,0,0,0.5);
            font-family: 'Montserrat' !important;
            line-height: 1.5;
        }
        .sub-page {
            padding: 1cm;
            height: 100%;
        }
        .sub-page h4{
            text-align: center;
        }
        @page {
            size: A4;
            margin: 0;
        }
        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }
            .main-page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
                font-family: 'Montserrat';
            }
        }
        .other{
            text-align: left !important;
        }
        .sub-page p a{
            font-weight: bold;
        }
        .ol-other li {
            list-style-type: none;
            counter-increment: step-counter;
        }

        .ol-other li:before {
            content: counter(step-counter) ") ";
            display: table-cell;
            padding-right: 0.6em;
        }
        .ol-other{
            padding: 0;
            margin: 0;
        }
        li .ol-other li{
            margin: 0;
        }
        .ol-other > li{
            display: table;
            counter-increment: step-counter;
            margin-bottom: 0.6em;
        }
    </style>
</head>
<body>
<div class="main-page">
    <div class="sub-page">
        <h4>Umowa najmu na cele mieszkalne</h4>
        <br>
        <p>zawarta w Toruniu w dniu _________________ roku, pomiędzy:</p>
        <br>
        <p>{{ landlordName }}</p>
        <br>
        <h4 class="other">zwaną dalej Wynajmującym,</h4>
        <br>
        <p>a</p>
        <br>
        <p>{{ tenantName }}</p>
        <br>
        <p>zwanym dalej <a>Najemcą,</a></p>
        <br>
        <p>zwanymi dalej łącznie <a>Stronami</a></p>
        <br>
        <h4>§ 1</h4>
        <h4>Oświadczenia Stron</h4>
        <ol>
            <li>Wynajmujący oświadcza, że jest właścicielem lokalu mieszkalnego nr ……., znajdującego się w …………………… przy ul. …………………………….., dla którego Sąd Rejonowy ………………………………. prowadzi księgę wieczystą nr ……………………………………………. (dalej Lokal).</li>
            <li>Lokal obejmuje powierzchnię ……………… m2 i składa się z następujących pomieszczeń: ……………………………………..</li>
            <li>Wynajmujący oświadcza, że Lokal nie jest zamieszkały oraz jest wolny od obciążeń na rzecz osób trzecich, które mogłyby utrudnić lub uniemożliwić wykonywanie uprawnień Najemcy, a w szczególności nie jest przedmiotem innych umów najmu.</li>
            <li>Umowa zostaje zawarta przy wykorzystaniu funkcjonalności aplikacji FLATAPP (dalej zwanej Aplikacją), której operatorem jest INSIDE PARK APLIKACJA spółka z ograniczoną odpowiedzialnością, z siedzibą w Toruniu (87-100), przy ul. Prostej 12-14/1, wpisana do Krajowego Rejestru Sądowego pod nr 0000754803, NIP: 7123376120 (dalej jako Operator).</li>
        </ol>
        <br>
        <h4>§ 2</h4>
        <h4>Przedmiot umowy, wydanie Lokalu</h4>
        <ol>
            <li>Wynajmujący oddaje Najemcy Lokal wraz z wyposażeniem do odpłatnego używania a Najemca bierze Lokal w najem i zobowiązuje się do zapłaty Wynajmującemu umówionego czynszu.</li>
            <li>Przekazanie Lokalu Najemcy nastąpi w dniu _______________________ .
                Przekazanie Lokalu nastąpi na podstawie protokołu zdawczo-odbiorczego, potwierdzającego stan techniczny Lokalu i jego wyposażenia oraz numery i stan liczników.</li>
            <li>Najemca oświadcza, że jest mu znany stan techniczny Lokalu oraz jego wyposażenia i nie wnosi w tym zakresie żadnych zastrzeżeń. </li>
            <li>Najemca zapewnia, że do transakcji przystępuje w sposób świadomy, tj.  przekazane mu za pośrednictwem aplikacji dane uznaje za wystarczające dla zorientowania się w stanie technicznym Lokalu. Nie będzie z tego tytułu podnosił roszczeń.</li>
            <li>Wynajmujący oświadcza, że Lokal jest wyposażony w<br>__________________________________<br>__________________________________<br>__________________________________<br>
            </li>
        </ol>
        <br>
        <h4>§ 3</h4>
        <h4>Prawa i obowiązki Najemcy</h4>
        <ol>
            <li>Najemca ma prawo używać Lokal wyłącznie na cele mieszkaniowe.</li>
            <li>Lokal będzie wykorzystany przez Najemcę wyłącznie do celów mieszkaniowych Najemcy oraz jego rodziny składającej się z: <br>…………………………………………………………………………………………. .</li>
            <li>Najemca zobowiązany jest do:
                <ol class="ol-other">
                    <li>utrzymania należytego stanu sanitarnego, technicznego i estetycznego Lokalu i jego wyposażenia;</li>
                    <li>niedokonywania bez pisemnej zgody Wynajmującego jakichkolwiek ingerencji w wyposażenie Lokalu tj. malowania ścian i sufitów, napraw podłóg, drzwi i okien, oraz wewnętrznej strony drzwi wejściowych oraz  napraw instalacji i urządzeń technicznych;</li>
                    <li>niedokonywania, bez pisemnej zgody Wynajmującego, zmian naruszających substancję Lokalu. W przypadku dokonania zmian bez zgody Wynajmującego, Wynajmującemu przysługuje prawo żądania od Najemcy przywrócenia do stanu poprzedniego. Najemcy nie będą przysługiwać roszczenia o zwrot nakładów na Lokal;</li>
                    <li>niezwłocznego zawiadamiania Wynajmującego o wszelkich usterkach i wadach Lokalu oraz konieczności przeprowadzenia napraw, które obciążają Wynajmującego;</li>
                    <li>dbania i chronienia przed uszkodzeniem i dewastacją części budynku przeznaczonych do wspólnego korzystania;</li>
                    <li>udostępniania Wynajmującemu Lokalu do wglądu,</li>
                    <li>niezwłocznego udostępnienia Lokalu w celu usunięcia przez Wynajmującego lub odpowiednie służby awarii mogącej wywołać szkodę. W przypadku nieobecności Najemcy lub odmówienia przez niego dostępu do Lokalu, Wynajmujący ma prawo wejść do Lokalu.</li>
                    <li>udostępnienia Lokalu Wynajmującemu w celu wykonania prac i remontów obciążających Wynajmującego, a także zastępczego wykonania przez Wynajmującego prac obciążających Najemcę;</li>
                    <li>Najemca zobowiązuje się po zakończeniu najmu zwrócić Lokal Wynajmującemu w należytym stanie technicznym i sanitarnym, uwzględniającym zużycie, wynikające z normalnej eksploatacji.</li>
                </ol>
            </li>
        </ol>
        <br>
        <h4>§ 4</h4>
        <h4>Prawa i obowiązki Wynajmującego</h4>
        <ol>
            <li>Wynajmujący zobowiązuje się utrzymać Lokal w stanie przydatnym do umówionego użytku przez czas trwania najmu.</li>
            <li>Wynajmujący zapewni sprawne działanie istniejących w Lokalu urządzeń technicznych, w tym wszelkich instalacji, o których mowa w § 2 ust. 5 w sposób umożliwiający Najemcy nieprzerwane z nich korzystanie.</li>
            <li>Wynajmujący dokona w Lokalu napraw, bez których Lokal nie jest przydatny do umówionego użytku.</li>
        </ol>
        <br>
        <h4>§ 5</h4>
        <h4>Czynsz</h4>
        <ol>
            <li>Najemca zobowiązuje się do zapłaty Wynajmującemu czynszu najmu w kwocie  …………………… zł (słownie: ………………………… złotych) miesięcznie.</li>
            <li>Czynsz najmu płatny będzie z góry do 10 dnia  każdego miesiąca.</li>
            <li>Płatności następować będą za pośrednictwem Operatora. Operator dochowa niezbędnej staranności, by wszelkie rozliczenia ze Stronami Umowy (po potrąceniu wynagrodzenia zgodnie z wiążącym cennikiem ustalonym w Aplikacji), następowały w terminie 7 dni od dnia zarachowania płatności na rachunku Operatora.</li>
            <li>Za dzień zapłaty uznaje się dzień uznania rachunku bankowego Wynajmującego. Opóźnienie w zapłacie skutkować będzie naliczeniem odsetek w wysokości ustawowej.</li>
            <li>Kwota czynszu nie obejmuje opłat eksploatacyjnych.</li>
            <li>Za zapłatę czynszu i innych należnych opłat odpowiadają solidarnie z Najemcą stale zamieszkujące z nim osoby pełnoletnie. Odpowiedzialność osób tych ogranicza się do wysokości czynszu i innych opłat należnych za okres ich stałego zamieszkiwania.</li>
            <li>Najemca, oprócz czynszu najmu, ponosi również wszelkie opłaty, koszty i świadczenia wynikające z eksploatacji Lokalu, tj., w szczególności: opłaty za gaz, energię cieplną, elektryczną, wywóz nieczystości, doprowadzanie ciepłej i zimnej wody, odprowadzanie ścieków, opłaty administracyjne, opłaty związane z zarządzaniem nieruchomością, opłaty na fundusz remontowy oraz inne opłaty na rzecz Wspólnoty Mieszkaniowej dotyczące wynajmowanego Lokalu i naliczane przez Wspólnotę Mieszkaniową lub zarządcę. Opłaty te będą wnoszone przez Najemcę bezpośrednio na konto dostawców mediów, jak również Wspólnoty Mieszkaniowej – na podstawie rachunków, faktur oraz informacji od Wspólnoty Mieszkaniowej lub zarządcy - przekazanych Najemcy przez Wynajmującego. Najemca zobowiązuje się do terminowej ich zapłaty.</li>
            <li>Wynajmujący może podwyższyć wysokość czynszu, o którym mowa w ust. 1, wypowiadając jego wysokość z 3-miesięcznym okresem wypowiedzenia ze skutkiem na koniec miesiąca kalendarzowego.</li>
            <li style="background-color: yellow;">Niezależnie od powyższych postanowień, Strony ustalają, że czynsz najmu będzie podlegał waloryzacji. Waloryzacja dokonywana będzie w każdym roku obowiązywania Umowy (w miesiącu kwietniu), przy czym pierwsza waloryzacja nastąpi w ___________ roku. Podstawą waloryzacji czynszu najmu będzie średnioroczny wskaźnik inflacji (średnioroczny wskaźnik wzrostu cen towarów i usług konsumpcyjnych) za poprzedni rok, ogłoszony przez Prezesa Głównego Urzędu Statystycznego.</li>
            <li>Waloryzacja nie stanowi zmiany niniejszej Umowy. Waloryzacja będzie skuteczna od chwili pisemnego zawiadomienia Najemcy o aktualnej wysokości czynszu. Celem waloryzacji jest urealnienie wartości czynszu.</li>
            <li>Za każdy dzień korzystania z Lokalu po ustaniu Umowy, niezależnie od innych sankcji i konsekwencji prawnych, Najemca zobowiązany będzie do zapłaty odszkodowania. Odszkodowanie wynosić będzie 300 % stawki wskazanej w § 5 ust. 1. Najemcę obciążać będą również wszystkie należności, o których mowa w § 5 ust. 6.</li>
        </ol>
        <br>
        <h4>§ 6</h4>
        <h4>Podnajem</h4>
        <ol>
            <li>Najemcy nie wolno oddawać Lokalu w podnajem ani bezpłatne używanie osobom trzecim.</li>
            <li>Wszelkie adaptacje, prace remontowe i ulepszenia Lokalu (inne niż drobne naprawy) wymagają pisemnej zgody Wynajmującego. Najemca obowiązany jest przedstawić Wynajmującemu zakres prac budowlanych, remontowych czy adaptacyjnych w Lokalu po uprzednim uzyskaniu jego zgody na ich wykonanie.</li>
            <li>Najemca nie ma prawa żądać zwrotu nakładów związanych z przeprowadzonymi pracami, adaptacjami, remontami i ulepszeniami w Lokalu. Jeśli adaptacje, prace remontowe czy ulepszenia Lokalu zostały przeprowadzone bez pisemnej zgody Wynajmującego lub ich wykonanie przez Najemcę było niezgodnie z zaakceptowanym zakresem prac, Wynajmujący może, według swojego wyboru, zatrzymać je bez jakichkolwiek roszczeń z tego tytułu po stronie Najemcy, bądź też żądać przywrócenia stanu poprzedniego przez Najemcę lub osobę trzecią na koszt Najemcy.</li>
        </ol>
        <h4>§ 7</h4>
        <h4>Zabezpieczenie</h4>
        <ol>
            <li>Dla zabezpieczenia czynszu oraz świadczeń dodatkowych, z którymi Najemca zalega nie dłużej niż rok, przysługuje Wynajmującemu ustawowe prawo zastawu na rzeczach ruchomych Najemcy wniesionych do Lokalu, chyba że rzeczy te nie podlegają zajęciu. Przysługujące Wynajmującemu ustawowe prawo zastawu wygasa, gdy rzeczy obciążone zastawem zostaną z Lokalu usunięte.</li>
            <li>Wynajmujący może się sprzeciwić usunięciu rzeczy obciążonych zastawem i zatrzymać je na własne niebezpieczeństwo, dopóki zaległy czynsz nie będzie zapłacony lub zabezpieczony.</li>
            <li>Ustawowe prawo zastawu Wynajmującego lokal mieszkalny rozciąga się także na wniesione do Lokalu ruchomości członków rodziny Najemcy razem z nim mieszkających.</li>
        </ol>
        <h4>§ 8</h4>
        <h4>Czas trwania umowy</h4>
        <ol>
            <li>Umowa została zawarta na czas określony od dnia …………………………r. do dnia ……………………………..r. tj. na okres ___________________ miesięcy/ na czas nieokreślony.</li>
            <li>Nie później  niż  na  miesiąc  naprzód,  na  koniec  miesiąca  kalendarzowego, Wynajmujący może wypowiedzieć Umowę, jeżeli Najemca:</li>
            <ol type="a">
                <li>pomimo pisemnego upomnienia nadal używa Lokalu w sposób sprzeczny z Umową lub niezgodnie  z  jego  przeznaczeniem  lub  zaniedbuje  obowiązki, dopuszczając  do  powstania  szkód,  lub  niszczy  urządzenia  przeznaczone  do wspólnego korzystania przez mieszkańców albo wykracza w sposób rażący lub uporczywy  przeciwko  porządkowi  domowemu,  czyniąc  uciążliwym korzystanie z innych lokali, lub</li>
                <li>jest w zwłoce z zapłatą Czynszu, Opłat niezależnych, innych należności co   najmniej za trzy pełne  okresy  płatności, pomimo uprzedzenia  go  na  piśmie  o  zamiarze  wypowiedzenia  stosunku  prawnego  i wyznaczenia  dodatkowego,  miesięcznego  terminu  do  zapłaty  zaległych  i bieżących należności lub</li>
                <li>wynajął, podnajął albo oddał do bezpłatnego używania Lokal lub jego część bez wymaganej pisemnej zgody Wynajmującej.</li>
            </ol>
            </li>
        </ol>
        <br>
        <h4>§ 9</h4>
        <h4>Opróżnienie lokalu</h4>
        <ol>
            <li>Najemca zobowiązuje się do opróżnienia Lokalu i wydania go Wynajmującemu, wraz z wyposażeniem, w dniu rozwiązania lub wygaśnięcia Umowy, w stanie niepogorszonym z uwzględnieniem normalnego zużycia.</li>
            <li>W przypadku, gdy po opuszczeniu Lokalu przez Najemcę w Lokalu pozostaną rzeczy wniesione przez Najemcę, Wynajmujący ma prawo przenieść je w inne miejsce na koszt i ryzyko Najemcy.</li>
        </ol>
        <br>
        <h4>§ 10</h4>
        <h4>Odpowiedzialność za szkody</h4>
        <p>Najemca odpowiedzialny jest za wszelkie szkody powstałe z jego winy, a także innych osób przebywających w Lokalu. Najemca zobowiązany jest usunąć powstałe szkody.</p>
        <br>
        <h4>§ 11</h4>
        <h4>Postanowienia końcowe</h4>
        <ol>
            <li>Wszelkie zmiany do Umowy wymagają formy dokumentowej. Zmiana może nastąpić przy użyciu Aplikacji.</li>
            <li>W sprawach nieuregulowanych niniejszą umową mają zastosowanie przepisy Kodeksu cywilnego.</li>
            <li>Umowę sporządzono w dwóch jednobrzmiących egzemplarzach, po jednym dla każdej ze stron.</li>
            <li>Strony oświadczają, że wszelkie spory wynikłe z niniejszej umowy będą rozwiązywane w pierwszej kolejności w sposób polubowny.</li>
            <li>Sądem właściwym dla rozstrzygnięcia wszelkich sporów wynikłych z niniejszej Umowy jest właściwy rzeczowo dla miejsca położenia przedmiotu umowy.</li>
        </ol>
        <br><br>
        <p><a>Wynajmujący </a>………………………………………………</p>
        <br>
        <p><a>Najemca     </a>………………………………………………</p>
    </div>
</div>
</body>
</html>